{% extends './base.html' %}

{% block conteudo%}
    <div class="container">
        <header>
            <div class="logo">
                <img id="logo-name"  src="{{ url_for('static', filename='img/ampare.svg')}}" alt="ampare">
                <img id="logo-hand"  src="{{ url_for('static', filename='img/icon-white.png')}}" alt="hand-icon">
            </div>
            <h1>oi,<br/>{Fulano}!</h1>
        </header>
        <main>
            <div class="carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item" onclick="window.location='/food'">
                        <img class="icon" src="{{ url_for('static', filename='img/cesta.png')}}" alt="cestas">
                        <p>cestas</p>
                    </div>
                    <div class="item" onclick="window.location='/family'">
                        <img class="icon" src="{{ url_for('static', filename='img/familia.png')}}" alt="familia">
                        <p>famílias</p>
                    </div>
                    <div class="item">
                        <img class="icon" src="{{ url_for('static', filename='img/grafico.png')}}" alt="grafico">
                        <p>doações</p>
                    </div>
                </div>
            </div>

            <div class="alerts-container">
                {% for alert in alerts_entregas %}
                    <div class="alert" onclick="window.location='../Delivery/index.html';">
                        <div class="date-alert-container">
                            <div class="date-alert">
                                <h1>{{alert.data}}</h1>
                            </div>
                        </div>
                        <div class="hour-alert">
                            <h1>entrega</h1>
                            <div class="hour">
                                <i class="fa-regular fa-clock fa-3x"></i>
                                <h2>{{alert.hora}}</h2>
                            </div>
                        </div>
                        <div class="info-alert">
                            <h2>{{alert.endereco}}</h2>
                            <p>cesta {{alert.cesta_id}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

        <button class="button" onclick="window.location='../Food/addFood.html'" style="position:fixed; bottom:25px; margin-left:50%; cursor:pointer; 
        border-radius: 50px; width:70px; height:70px"><h1>+</h1></button>
        <footer></footer>
    </div>

    <script src="{{url_for('static', filename='Dashboard/js/owl/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='Dashboard/js/owl/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='Dashboard/js/owl/setup.js')}}"></script>
{% endblock %}