{% extends './base.html' %}

{% block conteudo%}
    <div class="container">
        <header>
            <div class="main-header">
                <i class="fa-solid fa-arrow-left-long fa-3x back-arrow" onclick="window.location='/'"></i>
                <img class="logo" src="{{ url_for('static', filename='img/white-logo.png')}}" alt="logo" onclick="window.location='/'">
            </div>
        </header>
        <main> 
            <form action="#" method="post">
                <h1>Incluir alimento</h1>
                <div class="form-item"><label for="nmembers">Nome: </label><input type="text" id="nmembers" name="nmembers" size="50"></div>
                <div class="form-item"><label for="sname">Peso: </label><input type="text" id="sname" name="sname" size="4"></div>
                <div class="form-item"><label for="snumber">Data de vencimento: </label><input type="date" id="snumber" name="snumber"></div>
                <input class="form-button" style="margin:auto; color: #ffe400;" type="submit" value="Incluir">
            </form>
        </main>
        <footer></footer>
    </div>
{% endblock %}