<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Food/style/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Commons/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba547cc965.js" crossorigin="anonymous"></script>

    <title>Detalhes</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="main-header">
                <i class="fa-solid fa-arrow-left-long fa-3x back-arrow" onclick="window.location='/food'"></i>
                <img class="logo" src="{{ url_for('static', filename='img/white-logo.png') }}" alt="logo" onclick="window.location='/'">
            </div>
        </header>
        <main>
            <div class="card">
                <div class="info">
                    <h1>#{{cesta.id}}</h1>
                    <div class="details">
                        <p>família {{cesta.name}}</p>
                        <p>data de entrega: {{cesta.data}}</p>
                        <p>peso: {{cesta.peso}}</p>
                        <p>status: {{cesta.status}}</p>
                    </div>
                </div>
                <img class="logo" src="{{ url_for('static', filename='img/cesta.png') }}" alt="cesta">
            </div>
            <div class="card table">
                <div class="details-table">
                    <table>
                        <caption>Detalhes</caption>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>nome</th>
                                <th>peso (kg)</th>
                                <th>validade</th>
                            </tr>
                        </thead>
                        {% for detail in details %}
                            <tr>
                                <td>{{detail.id}}</td>
                                <td>{{detail.name}}</td>
                                <td>{{detail.peso}}</td>
                                <td>{{detail.data}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="button" style="margin-left: 37.5%;" onclick="window.print()">
                        <i class="fa-solid fa-print fa-lg icon"></i>
                        <h1>pdf</h1>
                    </div>
                </div>
            </div>

        </main>
        <footer></footer>
    </div>
    
</body>
</html>