{% extends './base.html' %}

{% block conteudo%}
    <div class="container">
        <header>
            <div class="main-header">
                <i class="fa-solid fa-arrow-left-long fa-3x back-arrow" onclick="window.location='/'"></i>
                <img class="logo" src="{{ url_for('static', filename='img/white-logo.png')}}" alt="logo" onclick="window.location='/'">
            </div>
        </header>
        <main>
            <ol class="list" id="foodList">
                {% for cesta in cestas %}
                    <li class="card" onclick="window.location.href='/food/{{cesta.id}}';">
                        <div class="info">
                            <h1>#{{cesta.id}}</h1>
                            <div class="details">
                                <p>família {{cesta.name}}</p>
                                <p>data de entrega: {{cesta.data}}</p>
                                <p>peso: {{cesta.peso}}</p>
                                <p>status: {{cesta.status}}</p>
                            </div>
                        </div>
                        <img class="logo" src="{{ url_for('static', filename='/img/cesta.png')}}" alt="cesta">
                    </li>
                {% endfor %}
            </ol>
        </main>
        <footer></footer>
    </div>
{% endblock %}