<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Commons/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Delivery/style/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba547cc965.js" crossorigin="anonymous"></script>

    <title>Detalhes</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="main-header">
                <i class="fa-solid fa-arrow-left-long fa-3x back-arrow" onclick="window.location='/'"></i>
                <img class="logo" src="{{ url_for('static', filename='img/white-logo.png') }}" alt="logo" onclick="window.location='/'">
            </div>
        </header>
        <main>
            <div class="card">
                <div class="info">
                    <h1>Entrega</h1>
                    <div class="details">
                        <p>família {{cesta.name}}</p>
                        <p>data de entrega: {{cesta.data}}</p>
                        <p>{{entrega.endereco}}</p>
                    </div>
                </div>
                <img class="logo" src="{{ url_for('static', filename='img/familia.png') }}" alt="cesta">
            </div>
            <div class="card cesta-list">
                <h1>Cesta</h1>
                <ol class="list">
                    <li class="cesta card" onclick="window.location.href='/food/{{cesta.id}}';">
                        <div class="info">
                            <h1>#{{cesta.id}}</h1>
                            <div class="details">
                                <p>data validade: {{cesta.data}}</p>
                                <p>status: {{status.status}}</p>
                            </div>
                        </div>
                        <img class="logo" src="{{ url_for('static', filename='/img/cesta.png')}}" alt="cesta">
                    </li>
                </ol>
                <div class="button" style="margin-left: 37.5%; margin-top:12px" onclick="window.print()">
                    <i class="fa-solid fa-print fa-lg icon"></i>
                    <h1>pdf</h1>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <h1>Local</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.6097222339836!2d-49.2478313!3d-25.3843934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce68b5003edfb%3A0xd6185213ac755907!2sRua%20dos%20Alfeneiros%2C%204%20-%20Boa%20Vista%2C%20Curitiba%20-%20PR!5e0!3m2!1spt-BR!2sbr!4v1667958715072!5m2!1spt-BR!2sbr" max-width="500" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="details">
                        <p>{{entrega.endereco}}</p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="clock button" onclick="confirmar('https://calendar.google.com/calendar/u/0/r/day/2022/25/11?pli=1', 'Deseja marcar essa data na sua agenda Google?')">
                    <i class="fa-solid fa-clock fa-lg icon"></i>
                    <h1>lembrete</h1>
                </div>
                {% if status.status == 'CO' %}
                    <div class="check button" onclick="window.location.href='/deliveryCesta-{{cesta.id}}';">
                        <i class="fa-solid fa-check fa-lg icon"></i>
                        <h1>entregue</h1>
                    </div>
                {% endif %}
            </div>
        </main>
        <footer></footer>
    </div>
</body>
<script>
    function confirmar(url, msg){
            
            event.preventDefault();  
            var resposta = confirm(msg);
            if (resposta == true){
                top.location.href = url;
            }
        } 
</script>
</html>