{% extends './base.html' %}

{% block conteudo%}
    <div class="container">
        <header>
            <div class="main-header">
                <i class="fa-solid fa-arrow-left-long fa-3x back-arrow" onclick="window.location='/'"></i>
                <img class="logo" src="{{ url_for('static', filename='img/white-logo.png') }}" alt="logo" onclick="window.location='/'">
            </div>
        </header>
        <main>
            <ol class="list">
                {% for familia in familias %}
                    <li class="card" onclick="window.location='/family-details'">
                        <div class="info">
                            <h1>#00{{familia.id}}</h1>
                            <div class="details">
                                <p>{{familia.nome}}</p>
                                <p>próxima entrega: {{familia.proxima_entrega}}</p>
                                <p>{{familia.endereco}}</p>
                            </div>
                        </div>
                        <img class="logo" src="{{ url_for('static', filename='img/familia.png') }}" alt="familia">
                    </li>
                {% endfor %}
            </ol>
        </main>
        <button class="button" onclick="window.location='./addFamily.html'" style="position:fixed; bottom:25px; margin-left:50%; cursor:pointer; 
        border-radius: 50px; width:70px; height:70px"><h1>+</h1></button>
        <footer></footer>
    </div>
    {% endblock %}