header .main-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    align-items: center;
}

main {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}

header .main-header img {
    width: 5em;
    padding: 5px 0px;
}

header .main-header .back-arrow {
    width: 6%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px 24px 24px;
    background-color: #D9D9D9;
    border-radius: 24px;
    margin: 16px 32px;
    box-shadow: 10px 10px 16px #f1f1f1;
}

.info {
}

.card h1 {
    font-size: 65px;
    color: #766E6E;
}

.card .icon {
    max-width: 32px;
}

.card:hover {
    cursor: pointer;
    filter: brightness(103%);
}

.back-arrow:hover {
    cursor: pointer;
}

.back-arrow {
    color: #ffe400;
}

.card .logo {
    width: 30%;
}

.card .details p {
    color: #938C8C;
    font-size: 24px;
}
