.cesta-list {
    display: block;
}

ol {
    max-height: 400px;
    overflow-y: scroll;
}

.cesta {
    box-shadow: none;
    margin:0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.button .icon, button h1{
    padding: .1em;
}

.clock, .check {
    width: 40%;
}