header {
    border-bottom-left-radius: 40px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
}

header .logo #logo-name {
    width: 35%;

}

header .logo #logo-hand {
    width: 20%;

}

header h1 {
    color: white;
    font-size: 75px;
    margin: 16px 32px 96px;
}

main .carousel {
    margin: -48px 0 0 32px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

main .carousel .item {
    background-color: #D9D9D9;
    max-width: 180px;
    margin: 0;
    padding: 15px 28px;
    border-radius: 24px;
    cursor: pointer;
}

main .carousel .item p {
    font-size: 36px;
    color: #766E6E;
}

main .carousel .item .icon {
    max-width: 100px;
}

main .carousel .item:hover {
    filter: brightness(103%);
}

main .alerts-container {
    
}


main .alerts-container .alert  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0px 24px 24px 24px;
    background-color: #D9D9D9;
    margin: 32px;
    border-radius: 24px;
    align-self: flex-end;
}

main .alerts-container .alert .date-alert-container {
    width: 100%;
    margin-top: -20px;
    margin-right: 0px;
}


main .alerts-container .alert .date-alert-container .date-alert {
    width: 30%;
    background-color: #4E008E;
    border-radius: 48px;
    margin-left: 70%;
}

main .alerts-container .alert .date-alert-container .date-alert h1 {
    color: #ffe400;
    font-size: 32px;
    text-align: center;
}

main .alerts-container .alert .hour-alert {
    flex: 1;
}

main .alerts-container .alert .hour-alert h1 {
    color: #4E008E;
    font-size: 48px;
    margin-top: -15px;
}

main .alerts-container .alert .hour-alert .hour {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

main .alerts-container .alert .hour-alert .fa-clock {
    color: #766E6E;
    font-size: 2em;
}
 
main .alerts-container .alert .hour-alert .hour h2 {
     color: #766E6E;
     font-size: 32px;
     padding-left: 5px;
}

main .alerts-container .alert .info-alert {
    flex: 1;
    padding-left: 8px;
}

main .alerts-container .alert .info-alert h2 {
    color: #766E6E;
    font-size: 22px;
    text-align: right;
}

main .alerts-container .alert .info-alert p {
    color: #766E6E;
    font-size: 16px;
    text-align: right;
}

footer {
    width: 100%;
    height: 50px;
}